<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>

    <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl m-10 text-center">Main Partners</h1>

   
 <section>
   
   <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
          <div class="flex items-center justify-center md:w-48">
          </div>

          <div>
            <div class="content flex py-2">
              <img class="w-8 h-8" src="https://cdn.glitch.global/82c5292a-89b3-4a53-84e2-abbc0fa27724/98763801.png?v=1677696972600" alt="UBG100"/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">Skool</h3>
              </div>
            </div>
            <p class="text-gray-200">
              <b>Skool</b> Poggers website, We have over 10k members online, Discord, Chatgpt, Bitlife, Roblox and stumble guys Unblocked!!! One of the first people to have working roblox, Join here now!!!<br><br>
              Website: <a href="https://skool.pages.dev" target="_blank" class="text-blue-500 hover:underline">https://skool.pages.dev</a><br>
              2 Link: <a href="https://schoolwork.site" target="_blank" class="text-blue-500 hover:underline">https://schoolwork.site</a><br>
              Discord: <a href="https://discord.gg/skool" target="_blank" class="text-blue-500 hover:underline">https://discord.gg/skool</a>
          </div>

          <div>
            <div class="content flex py-2">
              <img class="w-8 h-8" src="https://cdn.glitch.global/be163090-7063-4bdf-a18a-51662dd5380d/Screenshot%202023-04-11%207.03.06%20PM.png?v=1681254213853" alt="V3 Gaming Hub"/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">V3・gaming</h3>
              </div>
            </div>            
            <p class="text-gray-200">
              <b>V3</b>, --let me welcome you to V3・gaming--<br>

--we have a clan that you can tryout for or you can just chill in the server--<br>

--we host tournaments every month or so starting soon--<br>

-We do giveaways every 2 weeks--

--are server is still growing but maybe you could join to help it grow ¯\_(ツ)_/¯<br><br>
             
              Discord: <a href="https://discord.gg/vGepdacFsm" target="_blank" class="text-blue-500 hover:underline">https://discord.gg/vGepdacFsm</a>
            </p
          </div>

          <div class="flex items-center justify-center md:w-48">
          </div>
        </div>
      </div>

    </section>
    <section>
    <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl m-10 text-center">Other Partners</h1>
 

   
    </section>
    
    <%- include("../components/footer") %>
  </body>
</html>